[submodule "teensy/loader"]
	path = teensy/loader
	url = git@github.com:PaulStoffregen/teensy_loader_cli.git
[submodule "firmware/icecube-teensy32/cores"]
	path = firmware/icecube-teensy32/cores
	url = https://github.com/PaulStoffregen/cores.git
