# Back-up files
*~
*.old
*.bak
*.swp

# Python cache
__pycache__/
*.pyc

# Build directories
build*/

# Output files for construction of PCB, laser cutting PMMA, ...
construction/

# Auxilary files
*.pdf
*.svg
*.png

# IDE files
# QtCreator
CMakeLists.txt.user
